body {
  font-family: Helvetica, sans-serif;
  margin: 0;

}

body > div {
  padding: 3em;
}

iframe {
  width: 100%;
  height: 30em;
}

.hands {
  display: flex;
  width: 100%;
}

.hand {
  position: flex-grow;
  width: 50%;
}

img {
  width: 100%;
  height: 50em;
}

.imagine {
  background-color: black;
  color: white;
}
