html, body {
	font-family: Helvetica, sans-serif;
	margin: 0;
}

h1 {
	font-size: 2.5rem;
}

h3 {
	font-size: 1.5rem;
}

body > div {
	padding: 3rem;
}

body > div > * {
	max-width: 100rem !important;
	margin-left: auto;
	margin-right: auto;
}

iframe {
	width: 100%;
	height: 30rem;
	border-radius: 1.5rem;
}

#person-wrapper {
	position: relative;
}

.circle {
	position: absolute; 
	border-radius: 50%;
	border-width: 5px;
	border-color: white;
	border-style: solid;
	z-index: 999;
	width: 5rem;
	height: 5rem;
	opacity: 0;
	animation-name: appear;
	animation-duration: 2s; 
	animation-delay: 4s; 
	animation-fill-mode: forwards;
}

.circle, 
.line,
.left-eyeball,
.right-eyeball,
#person-wrapper {
	display: none;
}

.show-body .circle,
.show-body .line, 
.show-body .left-eyeball,
.show-body .right-eyeball,
#person-wrapper {
	display: block;
}

.line {
	position: absolute;
	background-color: white;
	z-index: 999;
	width: 2px;
	height: 6rem;
	opacity: 0;
	animation-name: appear;
	animation-duration: 2s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

.line.right-eye {
	margin-top: 2.5rem;
	margin-left: calc(50% + 45px);
	transform: rotate(120deg);
}

.circle.right-eye {
	margin-top: 5rem;
	margin-left: calc(50% - 170px);
}

.line.left-eye {
	margin-top: 2.8rem;
	height: 5rem;
	margin-left: calc(50% - 55px);
	transform: rotate(-120deg);
}

.circle.left-eye {
	margin-top: 5rem;
	margin-left: calc(50% + 85px);
}

.circle.right-eye {
	margin-top: 5rem;
	margin-left: calc(50% - 170px);
}

.right-eyeball, .left-eyeball {
	display: block;
	position: absolute;
	width: calc(1216px / 20);
	height: calc(1246px / 20);
	margin-left: calc(50% + 97px);
	margin-top: 5.8rem;
	opacity: 0;
	animation-name: appear;
	animation-duration: 2s;
	animation-delay: 4s;
	animation-fill-mode: forwards;
}

.left-eyeball {
	margin-left: calc(50% - 157px);
}

@keyframes appear {
	to {
		opacity: 1;
	}
}

.circle.right {
	margin-top: 12.5rem;
	margin-left: calc(50% - 130px);
}

.circle.left {
	margin-top: 13rem;
	margin-left: calc(50% + 25px);
}

.circle.head {
	margin-top: 1.2rem;
	margin-left: calc(50% - 48px);
}

.circle:hover {
	background-color: rgba(255,255,255,0.5);
	cursor: pointer;
}

/* .hands {
	display: flex;
	width: 100%;
	gap: 1.5rem;
} */

/* .hand {
	position: flex-grow;
	width: 50%;
} */

#facial-wrapper,
#left-palm-wrapper,
#right-palm-wrapper {
	display: none;
}

.show-head #facial-wrapper, 
.show-right-hand #right-palm-wrapper, 
.show-left-hand #left-palm-wrapper {
	display: initial;
}

img {
	width: 100%;
	display: block;
	border-radius: 1.5rem;
}

.imagine {
	background-color: black;
	color: white;
}


