html, body {
  font-family: Helvetica, sans-serif;
  margin: 0;
}

h1 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5em;
}

body > div {
  padding: 3em;
}

body > div > * {
  max-width: 100rem !important;
  margin-left: auto;
  margin-right: auto;
}

iframe {
  width: 100%;
  height: 30em;
}

.hands {
  display: flex;
  width: 100%;
}

.hand {
  position: flex-grow;
  width: 50%;
}

img {
  width: 100%;
  display: block;
}

.imagine {
  background-color: black;
  color: white;
}
